.main-contanier{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgb(108, 92, 92);
}

#search{
    display: flex;
    align-items: center;
    width:220px;
    margin-right: 10px;
}

#search_field{
    height: 40%;
    border-radius: 10px;
    margin-right: 8px;
}

.nav-left{
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    height: 40px;
    border-radius: 8px;
    font-size: 17px;
}

.nav-left div{
    font-family: sans-serif;
    color: azure;
}

#container{
    display: flex;
    justify-content: space-around;
    width: 25%;
    height: 675px;
    background-color: rgba(108, 92, 92, 0.21);
}

.input-field{
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.creating-printer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button{
    width: 100px;
    height: 30px;
    font-family: sans-serif;
    font-size: 17px;
    border-radius: 10px;
}

.label-field{
    font-family: sans-serif;
    font-size: 17px;
}

.bottom-contanier{
    display: flex;
    width: 100%;
    height: 675px;
}


.items-contanier{
    display: flex;
    width: 75%;
    height: 675px;
    flex-wrap: wrap;
}

.printer-contanier{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-left: 25px;
    margin-right: 35px;
    border-radius: 30px;
    padding-left: 20px;
}

#count_button{
    height: 40px;
    border-radius: 8px;
    font-size: 17px;
}

